{% load static %}
{% load i18n %}
<section id="ceremonia" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="text-center">{% trans "La ceremonia" %}</h2>
                <p class="text-center">
                    {% trans "La ceremonia será en la Iglesia Santa Margalida, en Crestatx a las 17:15" %}
                </p>
                <div class="text-center">
                    <img class="img-thumbnail" src="{% static 'bigday/images/parroquia.jpg' %}"/>
                </div>
                <h4 class="section-heading text-left">{% trans "Hora: 17:15" %}</h4>
                <h4 class="section-heading text-left">{% trans "Como llegar" %}</h4>
                <p>
                    {% blocktrans %}
                        Para los que estéis en Ca'n Picafort o Manacor, dispondréis de buses que os recogerán y os llevaran
                        tanto a la ceremonia como a la fiesta.<br/>
                        Si vais a ir a Crestatx por vuestros propios medios, podéis encontrar donde está situado haciendo
                        click
                    {% endblocktrans %}<a
                        href="https://www.google.com/maps/place/Ermita+Santa+Margalida,+Crestatx/@39.8031923,3.0197415,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x1297d226b4c722a5:0x5e8a204769c3f2eb!2sErmita+Santa+Margalida,+Crestatx!8m2!3d39.8031882!4d3.0219302!3m4!1s0x1297d226b4c722a5:0x5e8a204769c3f2eb!8m2!3d39.8031882!4d3.0219302"
                        target="_blank">{% trans "aquí" %}</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="fiesta">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">{% trans "La fiesta" %}</h2>
                <p class="text-center">
                    {% trans "La fiesta será en Casal Santa Eulàlia, entre Ca'n Picafort y Santa Margalida" %}
                </p>
                <div class="text-center">
                    <img class="img-thumbnail" src="{% static 'bigday/images/casal-santa-eulalia.jpg' %}"/>
                </div>
                <h4 class="section-heading text-left">{% trans "Hora: 19:00" %}</h4>
                <h4 class="section-heading text-left">{% trans "Como llegar" %}</h4>
                <p>
                    {% blocktrans %}
                        Si no queréis llevar vuestro coche igual que para la ceremonia, habrá un bus que os llevará de
                        la Parroquia hasta el lugar de la celebración.
                        Si queréis llegar por vuestra cuenta, el Casal se encuentra
                    {% endblocktrans %}
                    <a
                            href="https://www.google.com/maps/place/Casal+Santa+Eul%C3%A0lia+Hotel+%26+Restaurant/@39.7543731,3.1326613,17z/data=!3m1!4b1!4m8!3m7!1s0x129632131a8e94f3:0xa35c131e373324f3!5m2!4m1!1i2!8m2!3d39.754369!4d3.13485"
                            target="_blank">{% trans "aquí" %}</a>
                </p>
            </div>
        </div>
    </div>
</section>
