{% load static %}
{% load i18n %}
<section id="ceremonia">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-center">{% trans "La ceremonia" %}</h2>
                <hr/>
                <div class="text-center">
                    <img class="img-thumbnail" src="{% static 'bigday/images/parroquia.jpg' %}"/>
                </div>
                <div class="text-left">
                    <h4 class="section-heading text-left">{% trans "Dónde" %}</h4>{% trans "En la Ermita Santa Margalida, en Crestatx." %}
                    <a class="bg-info"
                            href="https://www.google.com/maps/place/Ermita+Santa+Margalida,+Crestatx/@39.8031923,3.0197415,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x1297d226b4c722a5:0x5e8a204769c3f2eb!2sErmita+Santa+Margalida,+Crestatx!8m2!3d39.8031882!4d3.0219302!3m4!1s0x1297d226b4c722a5:0x5e8a204769c3f2eb!8m2!3d39.8031882!4d3.0219302"
                            target="_blank">{% trans " Click para ver el mapa" %}</a>.<br/><br/>
                    <h4 class="section-heading text-left">{% trans "Cuándo" %}</h4>{% trans "Día 3 de octubre de 2020, a las 17:00." %}<br/><br/>
                    <h4 class="section-heading text-left">{% trans "Transporte" %}</h4>
                    {% blocktrans %}
                        Dispondréis de buses desde Manacor y Ca'n Picafort que os llevarán a la ermita.<br/>
                        En unas semanas añadiremos el horario y puntos de recogida.
                    {% endblocktrans %}<br/><br/>
                    <h4 class="section-heading text-left">{% trans "¿Y si voy en coche?" %}</h4>{% trans "La ermita dispone de espacio para aparcar, y enfrente hay una urbanización donde también dispondréis de sitio." %}
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
    </div>
</section>
<section id="fiesta">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading text-center">{% trans "La fiesta" %}</h2>
                <hr/>
                <div class="text-center">
                    {% trans "Aperitivo, cena, copas y baile hasta las 01:00." %}
                </div>
                <div class="text-center">
                    <img class="img-thumbnail" src="{% static 'bigday/images/casal-santa-eulalia.jpg' %}"/>
                </div>
                <div class="text-left">
                    <h4 class="section-heading text-left">{% trans "Dónde" %}</h4>{% trans "En el Casal Santa Eulalia" %},  {% trans "cerca de Ca'n Picafort." %}<a class="bg-info"
                        href="https://www.google.com/maps/place/Casal+Santa+Eul%C3%A0lia+Hotel+%26+Restaurant/@39.7543731,3.1326613,17z/data=!3m1!4b1!4m8!3m7!1s0x129632131a8e94f3:0xa35c131e373324f3!5m2!4m1!1i2!8m2!3d39.754369!4d3.13485"
                        target="_blank">{% trans " Click para ver el mapa" %}</a><br/><br/>
                    <h4 class="section-heading text-left">{% trans "Cúando" %}</h4>{% trans "A las 19:00." %}<br/>{% trans "Fin de fiesta a las 03:00." %}<br/><br/>
                    <h4 class="section-heading text-left">{% trans "Transporte" %}</h4>{% trans "Habrá buses desde la ermita al Casal, y de regreso a los puntos de origen." %}<br/><br/>
                    <h4 class="section-heading text-left">{% trans "Parking" %}</h4>{% trans "El Casal dispone de parking. Tenéis los detalles en la siguiente sección" %}
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
    </div>
</section>
