{% load i18n %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "¿Sin invitación?" %}</h3>
                <hr class="primary">
                <p>
                    {% blocktrans %}
                        No queremos gastar papel innecesariamente, por lo que esta boda es una boda sin invitación
                        física.
                        Por favor, confírmanos tu asistencia en el enlace que has recibido por correo.
                        Te agradecemos lo hagas lo antes posible para ayudarnos en la organización.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-exclamation"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "¡Césped y suelo empedrado!" %}</h3>
                <hr class="primary">
                <p>
                    {% blocktrans %}
                        En el lugar de la celebración hay césped y suelo rústico. Cuida tus tobillos!
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-car"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "Para los que vayan en coche" %}</h3>
                <hr class="primary">
                <p>
                    {% blocktrans %}
                        Aún no tenemos claro donde váis a aparcar, pero os lo diremos a tiempo.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-bus"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "Para los que vayan en bus" %}</h3>
                <hr class="primary">
                <p>
                    {% blocktrans %}
                        Habrá buses: desde Manacor y desde Ca'n Picafort.<br/>
                        También tendréis buses para volver.<br/>
                        En unas semanas os diremos dónde y cuándo os recogerán.
                    {% endblocktrans %}
                </p>
            </div>
        </div><div class="col-sm-3">&nbsp;</div>
    </div>
</div>
