{% load i18n %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">{% trans "¿Sin invitación?" %}</h3>
            <hr class="light">
            <p>
                {% blocktrans %}
                    No queremos gastar papel innecesariamente, por lo que esta boda es una boda sin invitación física.
                    Por favor, confirmanos tu asistencia en el enlace que has recibido por correo.
                    Te agradecemos lo hagas lo antes posible para ayudarnos en la organización.
                {% endblocktrans %}
            </p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-exclamation"></i></div>
            <br>
            <h3 class="section-heading text-center">{% trans "¡Césped y suelo empedrado!" %}</h3>
            <hr class="light">
            <p>
                {% blocktrans %}
                    En el lugar de la celebración hay césped, así que si traéis tacones os aconsejas tener a mano un calzado alternativo (o muy buen equilibrio).
                {% endblocktrans %}
            </p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-car"></i></div>
            <br>
            <h3 class="section-heading text-center">{% trans "Para los que vayan en coche" %}</h3>
            <hr class="light">
            <p>
                {% blocktrans %}
                    Aún no tenemos claro donde váis a aparcar, pero os lo diremos a tiempo.
                {% endblocktrans %}
            </p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-bus"></i></div>
            <br>
            <h3 class="section-heading text-center">{% trans "Para los que vayan en bus" %}</h3>
            <hr class="light">
            <p>
                {% blocktrans %}
                    Habrá dos buses: desde Manacor y desde Ca'n Picafort.<br/>
                    También tendréis buses para volver.<br/>
                    En unas semanas os diremos dónde os recogerán.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
