{% load i18n %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "¿Sin invitación?" %}</h3>
                <hr class="primary">
                <p>
                    {% blocktrans %}
                        No queremos gastar papel innecesariamente, por lo que esta boda es una boda sin invitación
                        física.
                        Por favor, confírmanos tu asistencia en el enlace que has recibido por correo.
                        Te agradecemos lo hagas lo antes posible para ayudarnos en la organización.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-exclamation"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "¡Césped y suelo empedrado!" %}</h3>
                <hr class="primary">
                <p>
                    {% blocktrans %}
                        En el lugar de la celebración hay césped y suelo rústico. Cuida tus tobillos!
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-car"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "Para los que vayan en coche" %}</h3>
                <hr class="primary">
                <p>
                        {% trans "Los que váis en coche propio, dejaréis a los acompañantes en la entrada principal" %} (<img src="{% static 'bigday/images/entrada-principal.png' %}" /><img src="{% static 'bigday/images/partners.png' %}" />).<br/>
                        {% trans "De ahí podréis ir hasta el parking" %} (<img src="{% static 'bigday/images/parking.png' %}" />).<br/>
                        {% trans "Luego daréis un paseo por el interior de la finca para reuniros con el resto en el aperitivo" %} (<img src="{% static 'bigday/images/conductores.png' %}" />).<br/>
                        {% trans "Podéis ver el mapa detallado haciendo click en la imagen" %}
                    <a href="{% static 'bigday/images/parking-coches1.png' %}" target="_blank"><img class="img-thumbnail" src="{% static 'bigday/images/parking-coches1.png' %}"/></a>
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center"><i class="fa fa-4x fa-bus"></i></div>
                <br>
                <h3 class="section-heading text-center">{% trans "Para los que vayan en bus" %}</h3>
                <hr class="primary">
                <p>
                    {% blocktrans %}
                        Habrá buses: desde Ca'n Picafort.<br/>
                        También tendréis buses para volver.<br/>
                        El bus saldrá desde el hostal Blanca (<a href="https://www.google.com/maps/place/Hostal+Blanca/@39.7664402,3.1518031,17z/data=!3m1!4b1!4m8!3m7!1s0x12963273caf507c9:0xda29a2f816f8abac!5m2!4m1!1i2!8m2!3d39.7664402!4d3.1539918" target="_blank">localización google maps</a>)a las 16:00, y desde la ermita a las 18:30
                    {% endblocktrans %}
                </p>
            </div>
        </div><div class="col-sm-3">&nbsp;</div>
    </div>
</div>
